ipykernel
requests
numpy
pandas
matplotlib
seaborn
flask
memory_profiler
streamlit
scikit-learn
openpyxl
lxml
html5lib
beautifulsoup4
imblearn
statsmodels
plotly
xgboost
kneed
redis
catboost
dill
python-dotenv
pymongo
certifi
pyaml
mlflow
dagshub
fastapi
uvicorn
python-multipart